### Create DataFrame

### Create DataFrame From RDD

In [155]:
import findspark
findspark.init()

In [156]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

In [157]:
spark = SparkSession.builder.appName('dataframe').master('local').getOrCreate()

In [142]:
sc = spark.sparkContext
sc

In [144]:
text_file = spark.sparkContext.textFile("C:/Users/W10/Desktop/sparkTxt/onemillion.txt")

In [152]:
counts = text_file.flatMap(lambda line: line.split(" ")) \
                            .map(lambda word: (word, 1)) \
                           .reduceByKey(lambda x, y: x + y)

In [154]:
counts.collect()

[('Hi', 1),
 ('i', 1),
 ('am', 1),
 ('prathmesh', 1),
 ('futane', 1),
 ('trying', 1),
 ('to', 1),
 ('learn', 1),
 ('apache', 2),
 ('spark.', 1),
 ('spark', 1),
 ('is', 1),
 ('good', 1),
 ('big', 1),
 ('data', 1),
 ('processing', 1),
 ('framework.', 1)]

In [5]:
# using toDF() function
columns = ["language","users_count"]
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]

In [6]:
rdd = spark.sparkContext.parallelize(data)

In [7]:
df = rdd.toDF(columns)

In [8]:
df.show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [9]:
#using createDataFrame function
rdd1 = spark.createDataFrame(data).toDF(*columns)

In [10]:
rdd1.show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

### Create DataFrame from list collection

In [11]:
# from spark session
rdd2 = spark.createDataFrame([('1','jack'),('2','mack')],['serial_no', 'name'])

In [12]:
rdd2.show()

+---------+----+
|serial_no|name|
+---------+----+
|        1|jack|
|        2|mack|
+---------+----+

In [13]:
# with RowType

In [14]:
data2 = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

In [15]:
# createDataFrame with schema
schema = StructType([
    StructField('firstname', StringType(), True),
    StructField('lastname', StringType(), True),
    StructField("lastname",StringType(),True), 
    StructField("id", StringType(), True),
    StructField("gender", StringType(), True), 
    StructField("salary", IntegerType(), True) 
])

In [16]:
 df2 = spark.createDataFrame(data2, schema)

In [17]:
df2.show()

+---------+--------+--------+-----+------+------+
|firstname|lastname|lastname|   id|gender|salary|
+---------+--------+--------+-----+------+------+
|    James|        |   Smith|36636|     M|  3000|
|  Michael|    Rose|        |40288|     M|  4000|
|   Robert|        |Williams|42114|     M|  4000|
|    Maria|    Anne|   Jones|39192|     F|  4000|
|      Jen|    Mary|   Brown|     |     F|    -1|
+---------+--------+--------+-----+------+------+

In [18]:
# creating data frame from csv
df3 = spark.read.csv("F:/Data science/train_info.csv")

In [19]:
df3.show()

+-----+-----+----+
|  _c0|  _c1| _c2|
+-----+-----+----+
|train|speed|city|
|  341|    4|   a|
|  354|   53|   b|
| 6425|   56|   r|
|    3|  474|   g|
| 4734|   35|   f|
|  563|  356|   d|
|    4|   43|   s|
+-----+-----+----+

In [20]:
#create
df4 = spark.read.text("C:/Users/W10/Desktop/salary.txt")

In [21]:
df4.show(5)

+--------------------+
|               value|
+--------------------+
|+91 in mobile number|
|       Mumbai, India|
|                    |
|                    |
|                    |
+--------------------+
only showing top 5 rows

In [22]:
df5 = spark.read.json("C:/Users/W10/Desktop/sparkTxt/sample2.json")

In [23]:
df5.show(5)

+--------------------+------+----+
|     _corrupt_record|number|type|
+--------------------+------+----+
|                   {|  null|null|
|   "firstName": "...|  null|null|
|   "lastName": "J...|  null|null|
|   "gender": "male",|  null|null|
|          "age": 28,|  null|null|
+--------------------+------+----+
only showing top 5 rows

In [24]:
emptyrdd = spark.sparkContext.emptyRDD()

In [25]:
emptyrdd.take(3)

[]

In [26]:
pandasDF = df5.toPandas()

In [27]:
type(pandasDF)

pandas.core.frame.DataFrame

In [28]:
type(df5)

pyspark.sql.dataframe.DataFrame

In [29]:
spark

In [30]:
rdd1 = spark.sparkContext.parallelize(range(20),3)

In [31]:
rdd2 = rdd1.filter(lambda x: x<15)

In [32]:
rdd3 = rdd2.filter(lambda x: x+2)

In [33]:
rdd4 = rdd3.filter(lambda x: x**2)

In [34]:
rdd4.toDebugString

In [35]:
df5.show(n=20, truncate=False, vertical=True)
df5.show(n=20, truncate=True, vertical=False)

-RECORD 0-----------------------------------------
 _corrupt_record | {
 number          | null
 type            | null
-RECORD 1-----------------------------------------
 _corrupt_record |    "firstName": "Joe",
 number          | null
 type            | null
-RECORD 2-----------------------------------------
 _corrupt_record |    "lastName": "Jackson",
 number          | null
 type            | null
-RECORD 3-----------------------------------------
 _corrupt_record |    "gender": "male",
 number          | null
 type            | null
-RECORD 4-----------------------------------------
 _corrupt_record |    "age": 28,
 number          | null
 type            | null
-RECORD 5-----------------------------------------
 _corrupt_record |    "address": {
 number          | null
 type            | null
-RECORD 6-----------------------------------------
 _corrupt_record |        "streetAddress": "101",
 number          | null
 type            | null
-RECORD 7-----------------------------------------
 _corrupt_record |        "city": "San Diego",
 number          | null
 type            | null
-RECORD 8-----------------------------------------
 _corrupt_record |        "state": "CA"
 number          | null
 type            | null
-RECORD 9-----------------------------------------
 _corrupt_record |    },
 number          | null
 type            | null
-RECORD 10----------------------------------------
 _corrupt_record |    "phoneNumbers": [
 number          | null
 type            | null
-RECORD 11----------------------------------------
 _corrupt_record | null
 number          | 7349282382
 type            | home
-RECORD 12----------------------------------------
 _corrupt_record |    ]
 number          | null
 type            | null
-RECORD 13----------------------------------------
 _corrupt_record | }
 number          | null
 type            | null

+--------------------+----------+----+
|     _corrupt_record|    number|type|
+--------------------+----------+----+
|                   {|      null|null|
|   "firstName": "...|      null|null|
|   "lastName": "J...|      null|null|
|   "gender": "male",|      null|null|
|          "age": 28,|      null|null|
|        "address": {|      null|null|
|       "streetAdd...|      null|null|
|       "city": "S...|      null|null|
|       "state": "CA"|      null|null|
|                  },|      null|null|
|   "phoneNumbers": [|      null|null|
|                null|7349282382|home|
|                   ]|      null|null|
|                   }|      null|null|
+--------------------+----------+----+

In [36]:
from pyspark.sql import Row

row = Row(name="jack",marks=40)
print(row[0],str(row[1]))

jack 40

In [37]:
Class = Row("name","age")
c1 = Class("jack",20)
c2 = Class("mack",23)

In [38]:
print(c1.name)

jack

## select()

In [39]:
df5.show()

+--------------------+----------+----+
|     _corrupt_record|    number|type|
+--------------------+----------+----+
|                   {|      null|null|
|   "firstName": "...|      null|null|
|   "lastName": "J...|      null|null|
|   "gender": "male",|      null|null|
|          "age": 28,|      null|null|
|        "address": {|      null|null|
|       "streetAdd...|      null|null|
|       "city": "S...|      null|null|
|       "state": "CA"|      null|null|
|                  },|      null|null|
|   "phoneNumbers": [|      null|null|
|                null|7349282382|home|
|                   ]|      null|null|
|                   }|      null|null|
+--------------------+----------+----+

In [40]:
df6 = spark.createDataFrame(
    [('jack','futane',29000,'cs'),('jack1','futane1',23000,'ext'),('jack2','futane2',24000,'mech'),
     ('jack3','futane3',25000,'ext'),('jack4','futane4',26000,'cs'),('jack5','futane5',36000,'civil')]
    ,['firstname','lastname',"salary","dept"])

# df6.select("firstname","lastname").show()
from pyspark.sql.functions import col

# df6.select(col('firstname'),col('lastname')).show()

# df6.select(df6['firstname'],df6['lastname']).show()

df6.select("*").show()

+---------+--------+------+-----+
|firstname|lastname|salary| dept|
+---------+--------+------+-----+
|     jack|  futane| 29000|   cs|
|    jack1| futane1| 23000|  ext|
|    jack2| futane2| 24000| mech|
|    jack3| futane3| 25000|  ext|
|    jack4| futane4| 26000|   cs|
|    jack5| futane5| 36000|civil|
+---------+--------+------+-----+

In [41]:
df6.select(df6.columns[:2]).show()

+---------+--------+
|firstname|lastname|
+---------+--------+
|     jack|  futane|
|    jack1| futane1|
|    jack2| futane2|
|    jack3| futane3|
|    jack4| futane4|
|    jack5| futane5|
+---------+--------+

In [42]:
df6.withColumn('salary',col('salary').cast("Integer")).show()

+---------+--------+------+-----+
|firstname|lastname|salary| dept|
+---------+--------+------+-----+
|     jack|  futane| 29000|   cs|
|    jack1| futane1| 23000|  ext|
|    jack2| futane2| 24000| mech|
|    jack3| futane3| 25000|  ext|
|    jack4| futane4| 26000|   cs|
|    jack5| futane5| 36000|civil|
+---------+--------+------+-----+

In [43]:
df6.withColumn('salary',col("salary")*100).show()

+---------+--------+-------+-----+
|firstname|lastname| salary| dept|
+---------+--------+-------+-----+
|     jack|  futane|2900000|   cs|
|    jack1| futane1|2300000|  ext|
|    jack2| futane2|2400000| mech|
|    jack3| futane3|2500000|  ext|
|    jack4| futane4|2600000|   cs|
|    jack5| futane5|3600000|civil|
+---------+--------+-------+-----+

In [44]:
df7 = df6.withColumn('salary',col('salary').alias("jack"))

In [45]:
df7.show()

+---------+--------+------+-----+
|firstname|lastname|salary| dept|
+---------+--------+------+-----+
|     jack|  futane| 29000|   cs|
|    jack1| futane1| 23000|  ext|
|    jack2| futane2| 24000| mech|
|    jack3| futane3| 25000|  ext|
|    jack4| futane4| 26000|   cs|
|    jack5| futane5| 36000|civil|
+---------+--------+------+-----+

In [46]:
df6.filter(df6.firstname!='jack').show()

+---------+--------+------+-----+
|firstname|lastname|salary| dept|
+---------+--------+------+-----+
|    jack1| futane1| 23000|  ext|
|    jack2| futane2| 24000| mech|
|    jack3| futane3| 25000|  ext|
|    jack4| futane4| 26000|   cs|
|    jack5| futane5| 36000|civil|
+---------+--------+------+-----+

In [47]:
df6.filter(~(df6.firstname=='jack'))
df6.filter(col('firstname')=='jack').show()

+---------+--------+------+----+
|firstname|lastname|salary|dept|
+---------+--------+------+----+
|     jack|  futane| 29000|  cs|
+---------+--------+------+----+

In [48]:
df6.where("firstname == 'jack'").show()

+---------+--------+------+----+
|firstname|lastname|salary|dept|
+---------+--------+------+----+
|     jack|  futane| 29000|  cs|
+---------+--------+------+----+

In [49]:
df7.drop("firstname").show()

+--------+------+-----+
|lastname|salary| dept|
+--------+------+-----+
|  futane| 29000|   cs|
| futane1| 23000|  ext|
| futane2| 24000| mech|
| futane3| 25000|  ext|
| futane4| 26000|   cs|
| futane5| 36000|civil|
+--------+------+-----+

In [50]:
df6.select('firstname').distinct().count()

6

In [51]:
df6.sort("salary").show()
df6.orderBy("salary").show()

+---------+--------+------+-----+
|firstname|lastname|salary| dept|
+---------+--------+------+-----+
|    jack1| futane1| 23000|  ext|
|    jack2| futane2| 24000| mech|
|    jack3| futane3| 25000|  ext|
|    jack4| futane4| 26000|   cs|
|     jack|  futane| 29000|   cs|
|    jack5| futane5| 36000|civil|
+---------+--------+------+-----+

+---------+--------+------+-----+
|firstname|lastname|salary| dept|
+---------+--------+------+-----+
|    jack1| futane1| 23000|  ext|
|    jack2| futane2| 24000| mech|
|    jack3| futane3| 25000|  ext|
|    jack4| futane4| 26000|   cs|
|     jack|  futane| 29000|   cs|
|    jack5| futane5| 36000|civil|
+---------+--------+------+-----+

In [52]:
df7 = df6.groupBy("dept").sum("salary").alias("salary")

In [53]:
df7.select(col("dept").alias('dept'), col("sum(salary)").alias("salary")).show()

+-----+------+
| dept|salary|
+-----+------+
|  ext| 48000|
|   cs| 55000|
|civil| 36000|
| mech| 24000|
+-----+------+

In [54]:
emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(emp,empColumns)

In [55]:
empDF.show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     5|   Brown|              2|       2010|         40|      |    -1|
|     6|   Brown|              2|       2010|         50|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [56]:
dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]

deptDF = spark.createDataFrame(dept,deptColumns)

In [57]:
deptDF.show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [58]:
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "inner").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [59]:
spark

In [60]:
empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, 'inner').show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [61]:
def convertString(x):
    # print(x)
    arr = x.split(" ")
    result = ""
    for i in arr:
        result = result + str(i[0].upper())+""+ str(i[1:len(i)+1])+" "
    return result

In [62]:
print(convertString("jack rao mitali raj and me"))

Jack Rao Mitali Raj And Me

In [63]:
temprdd = spark.sparkContext.parallelize(['jack','jack2','jack3','jack4','jack5','jack6','jack7','jack8',])

In [64]:
temprdd.toDebugString

In [65]:
temprdd.map(lambda x: (x,1)).collect()

[('jack', 1),
 ('jack2', 1),
 ('jack3', 1),
 ('jack4', 1),
 ('jack5', 1),
 ('jack6', 1),
 ('jack7', 1),
 ('jack8', 1)]

In [66]:
temprdd2 = spark.sparkContext.parallelize([('jack',22),('jack1',212),('jack2',222),('jack3',232),('jack4',242),('jack5',252)])

In [67]:
listt = temprdd2.flatMap(lambda x : x)

In [68]:
listt.collect()

['jack',
 22,
 'jack1',
 212,
 'jack2',
 222,
 'jack3',
 232,
 'jack4',
 242,
 'jack5',
 252]

In [69]:
columns = ["language","users_count"]
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]

In [70]:
temprdd3 =spark.sparkContext.parallelize(data)

In [71]:
df = temprdd3.toDF()

In [72]:
df2 = spark.range(0,100,2)

In [73]:
df2.show()

+---+
| id|
+---+
|  0|
|  2|
|  4|
|  6|
|  8|
| 10|
| 12|
| 14|
| 16|
| 18|
| 20|
| 22|
| 24|
| 26|
| 28|
| 30|
| 32|
| 34|
| 36|
| 38|
+---+
only showing top 20 rows

In [74]:
df2.sample(True,0.6,123).show()

+---+
| id|
+---+
|  0|
| 10|
| 12|
| 14|
| 20|
| 22|
| 24|
| 24|
| 24|
| 26|
| 28|
| 36|
| 42|
| 44|
| 48|
| 56|
| 62|
| 64|
| 68|
| 70|
+---+
only showing top 20 rows

In [75]:
df3 = spark.createDataFrame([('jack','java',22),('jack1','java1',212),('jack2','java2',222),('jack3','java3',232),
                            ('jack','NULL',22),('jack1','null',212),('null','java2',222)], 
                           ['name','languages','age'])

In [76]:
df3.na.fill(value=" ", subset=["languages"]).show()

+-----+---------+---+
| name|languages|age|
+-----+---------+---+
| jack|     java| 22|
|jack1|    java1|212|
|jack2|    java2|222|
|jack3|    java3|232|
| jack|     NULL| 22|
|jack1|     null|212|
| null|    java2|222|
+-----+---------+---+

In [77]:
data = [("Banana",1000,"USA"), ("Carrots",1500,"USA"), ("Beans",1600,"USA"), \
      ("Orange",2000,"USA"),("Orange",2000,"USA"),("Banana",400,"China"), \
      ("Carrots",1200,"China"),("Beans",1500,"China"),("Orange",4000,"China"), \
      ("Banana",2000,"Canada"),("Carrots",2000,"Canada"),("Beans",2000,"Mexico")]

columns= ["Product","Amount","Country"]
dfnew3 = spark.createDataFrame(data = data, schema = columns)

In [78]:
dfna = spark.read.options(header='true', inferSchema='true') \
          .csv("C:/Users/W10/Desktop/sparkTxt/rating2.csv")

In [79]:
dfna.na.fill(value=0, subset=['userId']).show()

+------+-------+------+----------+---------+
|userId|movieId|rating| timestamp|ratingStr|
+------+-------+------+----------+---------+
|     1|     39|   2.6|1260759144|      one|
|     1|     38|   2.7|      null|      two|
|     1|   null|   2.7|1260759140|    three|
|     0|     36|   3.8|1260759149|     null|
|     1|     35|   4.9|1260759148|     five|
|     1|   null|   5.0|      null|     null|
|     0|     33|   3.1|1260759146|    seven|
|     1|     32|  null|1260759145|    eight|
+------+-------+------+----------+---------+

In [80]:
dfna.fillna(value="", subset=['timestamp']).show()

+------+-------+------+----------+---------+
|userId|movieId|rating| timestamp|ratingStr|
+------+-------+------+----------+---------+
|     1|     39|   2.6|1260759144|      one|
|     1|     38|   2.7|      null|      two|
|     1|   null|   2.7|1260759140|    three|
|  null|     36|   3.8|1260759149|     null|
|     1|     35|   4.9|1260759148|     five|
|     1|   null|   5.0|      null|     null|
|  null|     33|   3.1|1260759146|    seven|
|     1|     32|  null|1260759145|    eight|
+------+-------+------+----------+---------+

In [81]:
data = [("Banana",1000,"USA"), ("Carrots",1500,"USA"), ("Beans",1600,"USA"), \
      ("Orange",2000,"USA"),("Orange",2000,"USA"),("Banana",400,"China"), \
      ("Carrots",1200,"China"),("Beans",1500,"China"),("Orange",4000,"China"), \
      ("Banana",2000,"Canada"),("Carrots",2000,"Canada"),("Beans",2000,"Mexico")]

columns= ["Product","Amount","Country"]

In [82]:
dfpivot = spark.createDataFrame(data = data, schema = columns)

In [83]:
dfpivot.groupBy('Country').pivot('Product').sum('Amount').show()
dfpivot.show()

+-------+------+-----+-------+------+
|Country|Banana|Beans|Carrots|Orange|
+-------+------+-----+-------+------+
|  China|   400| 1500|   1200|  4000|
|    USA|  1000| 1600|   1500|  4000|
| Mexico|  null| 2000|   null|  null|
| Canada|  2000| null|   2000|  null|
+-------+------+-----+-------+------+

+-------+------+-------+
|Product|Amount|Country|
+-------+------+-------+
| Banana|  1000|    USA|
|Carrots|  1500|    USA|
|  Beans|  1600|    USA|
| Orange|  2000|    USA|
| Orange|  2000|    USA|
| Banana|   400|  China|
|Carrots|  1200|  China|
|  Beans|  1500|  China|
| Orange|  4000|  China|
| Banana|  2000| Canada|
|Carrots|  2000| Canada|
|  Beans|  2000| Mexico|
+-------+------+-------+

In [84]:
df5.show()

+--------------------+----------+----+
|     _corrupt_record|    number|type|
+--------------------+----------+----+
|                   {|      null|null|
|   "firstName": "...|      null|null|
|   "lastName": "J...|      null|null|
|   "gender": "male",|      null|null|
|          "age": 28,|      null|null|
|        "address": {|      null|null|
|       "streetAdd...|      null|null|
|       "city": "S...|      null|null|
|       "state": "CA"|      null|null|
|                  },|      null|null|
|   "phoneNumbers": [|      null|null|
|                null|7349282382|home|
|                   ]|      null|null|
|                   }|      null|null|
+--------------------+----------+----+

In [85]:
rdd1.collect()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [86]:
states = {"NY":"New York", "CA":"California", "FL":"Florida"}
broadcastStates = spark.sparkContext.broadcast(states)

data = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL")
  ]

rdd = spark.sparkContext.parallelize(data)

def state_convert(code):
    return broadcastStates.value[code]

In [87]:
rdd.map(lambda x: (x[0],x[1],x[2],state_convert(x[3]))).collect()

[('James', 'Smith', 'USA', 'California'),
 ('Michael', 'Rose', 'USA', 'New York'),
 ('Robert', 'Williams', 'USA', 'California'),
 ('Maria', 'Jones', 'USA', 'Florida')]

In [88]:
broadcastStates.value['NY']

'New York'

In [89]:
rdd1.collect()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [90]:
df4.show(truncate=False)

+-------------------------------------------------------------------------------------------------------------+
|value                                                                                                        |
+-------------------------------------------------------------------------------------------------------------+
|+91 in mobile number                                                                                         |
|Mumbai, India                                                                                                |
|                                                                                                             |
|                                                                                                             |
|                                                                                                             |
|Working as Data Engineer with 1.5+ years of experience in building data-intensive applications.              |
|Collecting and processing data creating scalable data pipelines using ELT and creating schemas to store data.|
|Creating efficient data models and creating analysis and reports using data models.                          |
|Data Warehousing, Data Modeling, and Data Visualization                                                      |
|                                                                                                             |
|Experience                                                                                                   |
|Data warehousing, Data Modeling, Data Visualization                                                          |
|                                                                                                             |
|Programming Languages                                                                                        |
|SQL, Python, Java, Javascript                                                                                |
|                                                                                                             |
|Skills                                                                                                       |
|Business Intelligence                                                                                        |
|Data Warehouse                                                                                               |
|Analytics                                                                                                    |
+-------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [91]:
row = Row('name','age')

In [92]:
r1 = row("jack",22)
r2 = row("mack",23)

In [93]:
r1.name

'jack'

In [94]:
df5.show()

+--------------------+----------+----+
|     _corrupt_record|    number|type|
+--------------------+----------+----+
|                   {|      null|null|
|   "firstName": "...|      null|null|
|   "lastName": "J...|      null|null|
|   "gender": "male",|      null|null|
|          "age": 28,|      null|null|
|        "address": {|      null|null|
|       "streetAdd...|      null|null|
|       "city": "S...|      null|null|
|       "state": "CA"|      null|null|
|                  },|      null|null|
|   "phoneNumbers": [|      null|null|
|                null|7349282382|home|
|                   ]|      null|null|
|                   }|      null|null|
+--------------------+----------+----+

In [95]:
df4.show()

+--------------------+
|               value|
+--------------------+
|+91 in mobile number|
|       Mumbai, India|
|                    |
|                    |
|                    |
|Working as Data E...|
|Collecting and pr...|
|Creating efficien...|
|Data Warehousing,...|
|                    |
|          Experience|
|Data warehousing,...|
|                    |
|Programming Langu...|
|SQL, Python, Java...|
|                    |
|              Skills|
|Business Intellig...|
|      Data Warehouse|
|           Analytics|
+--------------------+
only showing top 20 rows

In [96]:
df5.show()

+--------------------+----------+----+
|     _corrupt_record|    number|type|
+--------------------+----------+----+
|                   {|      null|null|
|   "firstName": "...|      null|null|
|   "lastName": "J...|      null|null|
|   "gender": "male",|      null|null|
|          "age": 28,|      null|null|
|        "address": {|      null|null|
|       "streetAdd...|      null|null|
|       "city": "S...|      null|null|
|       "state": "CA"|      null|null|
|                  },|      null|null|
|   "phoneNumbers": [|      null|null|
|                null|7349282382|home|
|                   ]|      null|null|
|                   }|      null|null|
+--------------------+----------+----+

In [97]:
rdd1.collect()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [98]:
df.show()

+------+------+
|    _1|    _2|
+------+------+
|  Java| 20000|
|Python|100000|
| Scala|  3000|
+------+------+

In [103]:
from pyspark.sql.functions import *

In [104]:
df.select(current_date().alias('dateee')).show(1)

+----------+
|    dateee|
+----------+
|2022-08-17|
+----------+
only showing top 1 row

In [106]:
df.select(col('_1')).show()

+------+
|    _1|
+------+
|  Java|
|Python|
| Scala|
+------+

In [110]:
data=[["1","2020-02-01"],["2","2019-03-01"],["3","2021-03-01"]]
df2=spark.createDataFrame(data,["id","input"])

In [111]:
df2.show()

+---+----------+
| id|     input|
+---+----------+
|  1|2020-02-01|
|  2|2019-03-01|
|  3|2021-03-01|
+---+----------+

In [112]:
df2.select(current_date()).show(1)

+--------------+
|current_date()|
+--------------+
|    2022-08-17|
+--------------+
only showing top 1 row

In [115]:
df2.select(col("input"), 
    date_format(col("input"), "MM-dd-yyyy").alias("date_format") 
  ).show()

+----------+-----------+
|     input|date_format|
+----------+-----------+
|2020-02-01| 02-01-2020|
|2019-03-01| 03-01-2019|
|2021-03-01| 03-01-2021|
+----------+-----------+

In [126]:
bv = spark.sparkContext.broadcast([0,1,2,3,4])

In [127]:
bv.value

[0, 1, 2, 3, 4]

In [128]:
bv.value

[0, 1, 2, 3, 4]

In [129]:
df3

DataFrame[name: string, languages: string, age: bigint]

In [130]:
df3.collect()

[Row(name='jack', languages='java', age=22),
 Row(name='jack1', languages='java1', age=212),
 Row(name='jack2', languages='java2', age=222),
 Row(name='jack3', languages='java3', age=232),
 Row(name='jack', languages='NULL', age=22),
 Row(name='jack1', languages='null', age=212),
 Row(name='null', languages='java2', age=222)]

In [131]:
df3.show()

+-----+---------+---+
| name|languages|age|
+-----+---------+---+
| jack|     java| 22|
|jack1|    java1|212|
|jack2|    java2|222|
|jack3|    java3|232|
| jack|     NULL| 22|
|jack1|     null|212|
| null|    java2|222|
+-----+---------+---+

In [132]:
type(df3)

pyspark.sql.dataframe.DataFrame