In [39]:
import findspark
findspark.init()

In [40]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
from pyspark.sql.functions import col

In [41]:
spark = SparkSession.builder.appName('dataframe').master('local').getOrCreate()

In [42]:
spark

In [52]:
dfcsv = spark.read\
            .option("header",True)\
            .option("inferSchema",True)\
            .csv("C:/Users/W10/Desktop/sparkTxt/annual-csv.csv")

In [53]:
type(dfcsv)

pyspark.sql.dataframe.DataFrame

In [54]:
dfcsv.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Industry_aggregation_NZSIOC: string (nullable = true)
 |-- Industry_code_NZSIOC: string (nullable = true)
 |-- Industry_name_NZSIOC: string (nullable = true)
 |-- Units: string (nullable = true)
 |-- Variable_code: string (nullable = true)
 |-- Variable_name: string (nullable = true)
 |-- Variable_category: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Industry_code_ANZSIC06: string (nullable = true)

In [58]:
dfcsv.select(col("Year")).distinct().show()

+----+
|Year|
+----+
|2018|
|2015|
|2013|
|2014|
|2019|
|2020|
|2016|
|2017|
+----+

In [59]:
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
data = [("James","Smith","USA","CA"),
    ("Michael","Rose","USA","NY"),
    ("Robert","Williams","USA","CA"),
    ("Maria","Jones","USA","FL")
  ]
columns = ["firstname","lastname","country","state"]
df = spark.createDataFrame(data = data, schema = columns)
df.show(truncate=False)

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|James    |Smith   |USA    |CA   |
|Michael  |Rose    |USA    |NY   |
|Robert   |Williams|USA    |CA   |
|Maria    |Jones   |USA    |FL   |
+---------+--------+-------+-----+

In [48]:
df.show()

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|    James|   Smith|    USA|   CA|
|  Michael|    Rose|    USA|   NY|
|   Robert|Williams|    USA|   CA|
|    Maria|   Jones|    USA|   FL|
+---------+--------+-------+-----+

In [49]:

df.select(col("firstname"),col("lastname")).show()

+---------+--------+
|firstname|lastname|
+---------+--------+
|    James|   Smith|
|  Michael|    Rose|
|   Robert|Williams|
|    Maria|   Jones|
+---------+--------+

In [65]:
df.select(*columns).show()

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|    James|   Smith|    USA|   CA|
|  Michael|    Rose|    USA|   NY|
|   Robert|Williams|    USA|   CA|
|    Maria|   Jones|    USA|   FL|
+---------+--------+-------+-----+

In [69]:
dfcsv.select(dfcsv.columns[:3]).show()

+----+---------------------------+--------------------+
|Year|Industry_aggregation_NZSIOC|Industry_code_NZSIOC|
+----+---------------------------+--------------------+
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
|2020|                    Level 1|               99999|
+----+---------------------------+--------------------+
only showing top 20 rows

In [78]:
from pyspark.sql.functions import *
dfcsv.select(expr("CASE WHEN Year = 2020 THEN 'IN 2020' ELSE Year END")).distinct().show()

+--------------------------------------------------+
|CASE WHEN (Year = 2020) THEN IN 2020 ELSE Year END|
+--------------------------------------------------+
|                                              2016|
|                                              2019|
|                                              2017|
|                                              2014|
|                                              2013|
|                                              2018|
|                                           IN 2020|
|                                              2015|
+--------------------------------------------------+

In [84]:
dfcsv.select("Year", when(dfcsv.Year == "2020","yes 2020")
                        .when(dfcsv.Year == "2017","no 2027")).distinct().show()

+----+-------------------------------------------------------------------------+
|Year|CASE WHEN (Year = 2020) THEN yes 2020 WHEN (Year = 2021) THEN no 2021 END|
+----+-------------------------------------------------------------------------+
|2018|                                                                     null|
|2015|                                                                     null|
|2013|                                                                     null|
|2014|                                                                     null|
|2019|                                                                     null|
|2016|                                                                     null|
|2017|                                                                     null|
|2020|                                                                 yes 2020|
+----+-------------------------------------------------------------------------+